*.lo
*.o

.deps
.libs
bin/
cfitsio.pc
confdefs.h
conftest.*
config.log
config.status
configure.prev
cookbook
docs/
fitscopy
fitsverify
fpack
funpack
imcopy
include/
lib/
libcfitsio.la
libtool
Makefile
smem
speed
testf77
testprog
utilities/.dirstamp