C/fitshdr.c
C/libwcs-*.a
C/wcsbth.c
C/wcspih.c
C/wcsulex.c
C/wcsutrn.c
configure.prev
config.status
config.log
include/
lib/
makedefs
share/
wcsconfig.h
wcsconfig_f77.h
wcsconfig_tests.h
wcsconfig_utils.h
wcslib.pc
